h1{
	text-align:center;

}

h2{
	text-align: center;
	font-size: 1.2em;
	color: #252586;


}

h3{
	text-align: center;
}
body{
	background: white;
}

p{
	text-align: center;
	font-size: 1.2em;
	color: #7F7A7F;
}


#link{
	color: #252586;
}



img{
	width:720px;
    height:480px;
    /*display: block;*/
   /* margin-left: auto;
    margin-right: auto;
    /*padding: 10px;*/
}

.problema{
	text-align: center;
	padding-top: 50px;
}

.problema{
	text-align: center;
	padding-top: 75px;
}


h6{
	text-align: center;
}

iframe{
	width: 200px; 
	height:300px;
}

.top-bar{
	background: #a52a00;
}

.top-bar .right{
	background: #a52a00;
}


.top-bar-section .dropdown li label {
    white-space: nowrap;
    background: #a52a00;

}

#myModal{
	text-align: center;
}

p>a{
	color: #a52a00;
}

.dropdown{
  background: #a52a00;	
}

a{
	color: white;
}

.Iconos{
	width: 150px; 
	height:170px;
	margin-top: 200px;


}

.Iconos2{
	width: 150px; 
	height:150px;
	margin-top: 200px;
}
.logo{
	margin-top: 50px;
	max-width: 100%;
 	height: auto;
}

.button {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #a52a00 !important;
  border-width: 2px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a52a00), color-stop(5%, #a52a00), color-stop(100%, #a52a00));
  background-image: -webkit-linear-gradient(#a52a00, #a52a00 5%, #a52a00);
  background-image: -moz-linear-gradient(#a52a00, #a52a00 5%, #a52a00);
  background-image: -o-linear-gradient(#a52a00, #a52a00 5%, #a52a00);
  background-image: linear-gradient(#a52a00, #a52a00 5%, #a52a00);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset;
 
  margin-left: auto;
  margin-right: auto;
}

.myModal{
  text-align: center;
}

/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  background-color: #E4D6D6;
  font-family: inherit;
  border: 2px solid #E4D6D6;
  box-shadow: inset 0 1px 2px rgba(228, 214, 214);
  color: rgba(228, 214, 214);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  margin-top: 0.55em;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

