h1{
	text-align:center;

}

h2{
	text-align: center;
	font-size: 1.2em;
	color: #252586;


}

h3{
	text-align: center;
}
body{
	background: white;
}

p{
	text-align: center;
	font-size: 1.2em;
	color: #7F7A7F;
}


#link{
	color: #252586;
}



img{
	width:720px;
    height:480px;
    /*display: block;*/
   /* margin-left: auto;
    margin-right: auto;
    /*padding: 10px;*/
}

.problema{
	text-align: center;
	padding-top: 50px;
}

.problema{
	text-align: center;
	padding-top: 75px;
}


h6{
	text-align: center;
}

iframe{
	width: 200px; 
	height:300px;
}

.top-bar{
	background: #a52a00;
}

.top-bar .right{
	background: #a52a00;
}


.top-bar-section .dropdown li label {
    white-space: nowrap;
    background: #a52a00;

}

#myModal{
	text-align: center;
}

p>a{
	color: #a52a00;
}

.dropdown{
  background: #a52a00;	
}

a{
	color: white;
}

.Iconos{
	width: 150px; 
	height:170px;
	margin-top: 200px;


}

.Iconos2{
	width: 150px; 
	height:150px;
	margin-top: 200px;
}
.logo{
	margin-top: 50px;
	max-width: 100%;
 	height: auto;
}

.button {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #a52a00 !important;
  border-width: 2px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3498db), color-stop(5%, #3498db), color-stop(100%, #258cd1));
  background-image: -webkit-linear-gradient(#a52a00, #a52a00 5%, #a52a00);
  background-image: -moz-linear-gradient(#a52a00, #a52a00 5%, #a52a00);
  background-image: -o-linear-gradient(#a52a00, #a52a00 5%, #a52a00);
  background-image: linear-gradient(#a52a00, #a52a00 5%, #a52a00);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}